doctype html
html
  head
    title= title
    <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great|Cabin+Sketch|Chelsea+Market' rel='stylesheet' type='text/css'>
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="/javascripts/page.js")
  body
    block content
 