extends layout

block content
  div.header
    h1= title
  if error
    h3= error
  if username
    h3 Welcome #{username}!
    div.newTweet
      form(method='post' action='/tweet')
        label What's on your mind?       
          input(id='tweetbody' type='text' name='tweetBody' placeholder='Your mouth sayeth...')
          input(type='submit' value='Loudmouf' id='bigButton')
    div.tweetTable
      h1 ??!!!??!?!?!?!?