extends layout

block content
	block content
  .nav
    form(method='post' action='/logout')
      input(type='submit' value='Sign out' id='logout')
      br
      br
  div.header
    h1= title
    form(method='post' action='/verified')
    	input(type='submit' value='Proceed to the porch!')